*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: "Roboto", serif;

}

.sec-1{
    height: 100vh;
    width: 98.75vw;
}

.start{
    position: relative;
    background-image: url(./image/nasha.png);
    background-size: cover;
    height: 90%;
}

.btn-1{
    position: absolute;
    top: 65%;
    left: 14%;
    width: 12rem;
    height: 3rem;
    background-color:  rgb(255, 255, 255);
    border-radius: 25px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;   
    font-weight: 600;
    cursor: pointer;
   
}

.btn-1 a{
    text-decoration: none; 
    color: black;
}

.btn-1:hover{
    box-shadow: 0px 4px 21px 4px rgba(0,0,0,0.75);
    background-color: rgb(32, 32, 163);

}


.logo-place{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo img{
    width: 15rem;
}

h1{
    font-size: 3rem;
    font-weight: 600;
    color: rgb(40, 40, 248);
}

.posts{
    display: flex;
    justify-content: space-evenly;
}

.post-1{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(228, 228, 228);
    width: 21.4rem;
}

.post-1-logo img{

    border-radius: 8px;
    width: 20rem;
}

.text{
    margin-top: 2rem;
}

footer{
    padding: 2rem;
    text-align: center;
    margin-top: 5rem;
    border-top: 1px solid rgb(134, 134, 134);
}

footer div{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

@media (max-width: 1000px) {
    .posts{
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    .btn-1{
        left: 17%;
    }

   
}


@media (max-width: 500px){
    .logo-place{
        flex-direction: column;
    }
    .logo-place :nth-child(2){
        text-align: center;
    }
    .start{
        background-image: url(./image/nasha2.png);
        background-size: cover;
    }
    .btn-1{
        top: 60%;
        left: 12%;
    }
}

@media (max-width: 400px){
    .start{
        background-image: url(./image/nasha3.png);
        background-size: cover;
    }
}